/* Question */
.Question-main{widtH: 40%; margin: auto;}
.subject{font-size: 30px; font-weight: bold;}
.subject-input{border: none; width: 100%; height: 40%; border-bottom: 2px solid #818181; font-size: 1.2rem; margin-top: 5%;}
.answer-title{margin-top: 8%;}
.answer-input-area{flex-direction: column;}
.answer{font-size: 30px; font-weight: bold;}
.answer-input{margin-top: 3%;}
.isAnswer-btn{border: 2px solid #00eaff; border-radius: 15%; font-weight: bold; margin-left: 3%;}
.isAnswer-btn.on{border: 2px solid #00eaff; border-radius:15%; font-weight: bold; margin-left: 3%; color: #ffffff; background-color: #00eaff;}
.regist-area{display: flex; width: 100%; max-width: 60%; margin: 0 auto; justify-content: center; margin-top: 20%;}

.QuestionList-main{widtH: 40%; margin: auto;}
.question-answer-add { display: flex; justify-content: center; align-items: center;}
.question-answer-add > input { width: 75% ;}
.question-answer-add > span {border: 1px solid #000000; margin-left: 1rem; font-size: 18px; padding: 0rem 0.4rem; border-radius: 4px; font-weight: bold; cursor: pointer;}
.question-answer-add > .add-btn {background-color: #383838; color: #ffffff;}
.question-answer-add > span.on {border: 1px solid #0b5ed7; background-color: #0b5ed7; color: #ffffff;}
/* .question-answer-add > span:hover {background-color: #eeeeee;} */
.QuestionList-main{widtH: 40%; margin:auto;}
.regist-btn{margin-top: 3%; margin-bottom: 3%;}

/* Book */
.book-main{widtH: 40%; margin: 3% auto; }
.book-area{display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 2%;}
.book-item{margin-bottom: 2%; margin-right: 2%;}

.book-write {width: 40%; margin: 3rem auto;}

/* BookSolve */
.booksolve {margin: 0 auto; width: 40%;}
.book-title{ font-size: x-large; margin: 3%;}
.outBtn.btn.btn-primary { margin-left: 40%;}
.answer-choice { border: 2px solid #0b5ed7; color: #0b5ed7; padding: 1%; margin-top: 0.5%; border-radius: 15%;}
.answer-subject { margin-left: 2%;}
.answer-choice.on { background-color: #0b5ed7; color: #ffffff;}
.answer-item {display: flex; align-items: center; margin: 1rem;}
.move-btn { margin-top: 10%; display: flex; justify-content: center;}
.preBtn { margin-right: 5%;}

/* Book View */
.book-view {width: 50%; margin: 3rem auto; border : 3px solid #797979; padding: 3rem; border-radius: 15px;}
.book-view .book-info {display: flex; justify-content: space-between; flex-wrap: wrap;}
.book-view .info-item {display: flex; flex-direction: column; margin: 1rem; width: 45%;}
.book-view .item-text {font-size: 1.8rem;}
.book-view .info-item-input > input {width: 80%;}
.book-view .child-question {border :none; display: flex; flex-direction: column; align-items: center;}
.book-view .child-question > strong {font-size: 1.4rem; margin-bottom: 1rem;}
.book-view .child-question table {width: 95%; border : 2px solid #000000; text-align: center;}
.book-view .child-question table > thead {text-align: center; border-bottom: 2px solid #000000; font-weight: bold;}
.book-view .child-question table tr {padding: 1rem}
.book-view .child-question table tr:not(tr:last-child) {border-bottom: 1px solid #000000;}
.book-view .modify-btn {font-size: 14px; color: #59a6ff; float: right; padding-right: 2rem; font-weight: bold; cursor: pointer;}
.book-view .child-question-addbtn {align-self: flex-end; padding-right: 2rem; padding-bottom: 0.6rem; color: #0b5ed7; cursor: pointer;}
.question-add-modal-head > tr > th {text-align: center;}
.question-add-modal > tr > td {vertical-align: middle; text-align: center;}


/* Question View */
.question-view {width: 40%; margin: 0 auto; display: flex; flex-direction: column; font-size: 20px;}
.question-view .question-info {border: 2px solid #858585; margin-top: 3rem; display: flex; justify-content: space-between; flex-wrap: wrap; padding: 1.2rem; border-radius: 15px;}
.question-view .question-info .info-item {width: 45%; margin: 1rem; padding: 0.8rem;}
.question-answers {width: 100%;} 
.question-answers .question-answers-top {display: flex; justify-content: space-between;}
.question-view .question-answers-table {border : 2px solid #000000; width: 100%; text-align: center; border-radius: 8px; font-size: 18px;}
.question-view .question-answers-table thead {border-bottom: 2px solid #000000;}
.question-view .question-answers-table tr:not(tr:last-child) {border-bottom: 1px solid #000000;}
.answer-modal-content {display: flex; align-items: center; justify-content: space-between;}
.answer-modal-content > input {font-size: 22px; width: 80%;}
.answer-modal-content > span {font-size: 22px; width: 15%; text-align: center; border: 2px solid #0b5ed7; font-weight: bold; color: #0b5ed7;}
.answer-modal-content > span.on {background-color: #0b5ed7; color: #ffffff;}

.question-view .add-answer-form {}
.question-view .add-answer-form > span { border: 2px solid #0b5ed7; background-color: #ffffff;  color: #0b5ed7; cursor: pointer; padding: 0.2rem;}
.question-view .add-answer-form > span.on { background-color: #0b5ed7; color: #ffffff; }