
/* header */
.header{border: 1px solid#000000; margin-right: 90%;}
.main-area{border-bottom: 1px solid#000000;}
.question-area{border-bottom: 1px solid#000000;}


/*regist question*/
.input-answer-main{display: flex;}
.answer-btn{border: 2px solid#000000;}