/* Question */
.Question-main{widtH: 40%; margin: auto;}
.subject{font-size: 30px; font-weight: bold;}
.subject-input{border: none; width: 100%; height: 40%; border-bottom: 2px solid #818181; font-size: 1.2rem; margin-top: 5%;}
.answer-title{margin-top: 8%;}
.answer-input-area{flex-direction: column;}
.answer{font-size: 30px; font-weight: bold;}
.answer-input{margin-top: 3%;}
.isAnswer-btn{border: 2px solid #00eaff; border-radius: 15%; font-weight: bold; margin-left: 3%;}
.isAnswer-btn.on{border: 2px solid #00eaff; border-radius:15%; font-weight: bold; margin-left: 3%; color: #ffffff; background-color: #00eaff;}
.regist-area{display: flex; width: 100%; max-width: 60%; margin: 0 auto; justify-content: center; margin-top: 20%;}

.QuestionList-main{widtH: 40%; margin: auto;}
.question-answer-add { display: flex; justify-content: center; align-items: center;}
.question-answer-add > input { width: 75% ;}
.question-answer-add > span {border: 1px solid #000000; margin-left: 1rem; font-size: 18px; padding: 0rem 0.4rem; border-radius: 4px; font-weight: bold; cursor: pointer;}
.question-answer-add > .add-btn {background-color: #383838; color: #ffffff;}
.question-answer-add > span.on {border: 1px solid #0b5ed7; background-color: #0b5ed7; color: #ffffff;}
/* .question-answer-add > span:hover {background-color: #eeeeee;} */
.QuestionList-main{widtH: 40%; margin:auto;}
.regist-btn{margin-top: 3%; margin-bottom: 3%;}

/* Book */
.book-main{widtH: 40%; margin: 3% auto; }
.book-area{display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 2%;}
.book-item{margin-bottom: 2%; margin-right: 2%;}

.book-write {width: 40%; margin: 3rem auto;}

/* BookSolve */
.booksolve-area{width: 60%; height: 50%; border: 2px solid #c4c4c4; border-radius: 10px; margin: 2rem auto; padding: 1%;}
.booksolve-question{font-size: 20px; border-bottom: 2px solid#c4c4c4; padding-bottom: 1%; margin-bottom: 2%;}
.answer-check{padding-top: 1%;}
.answer-submit{margin-left: 70%;}




/* Book View */
.book-view {width: 50%; margin: 3rem auto; border : 3px solid #797979; padding: 3rem; border-radius: 15px;}
.book-view .book-info {display: flex; justify-content: space-between; flex-wrap: wrap;}
.book-view .info-item {display: flex; flex-direction: column; margin: 1rem; width: 45%;}
.book-view .item-text {font-size: 1.8rem;}
.book-view .child-question {border :none; display: flex; flex-direction: column; align-items: center;}
.book-view .child-question > strong {font-size: 1.4rem; margin-bottom: 1rem;}
.book-view .child-question table {width: 95%; border : 2px solid #000000; text-align: center;}
.book-view .child-question table > thead {text-align: center; border-bottom: 2px solid #000000; font-weight: bold;}
.book-view .child-question table tr {padding: 1rem}
.book-view .child-question table tr:not(tr:last-child) {border-bottom: 1px solid #000000;}
